.mobile-nav-fixed {
  position: fixed;
  z-index: 99;
  top: 20px;
  left: 10px;
  right: 10px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: rgb(255 255 255);
  box-shadow: -2px 1px 20px 0 rgb(0 0 0 / 75%);
}

ul {
  width: 100%;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 0;
}

.mobile-nav-fixed > ul {
  align-items: center;
}

.burger-menu {
  cursor: pointer;
  padding: 0;
  background-color: inherit;
  border: none;
  margin-left: 100%;
}

.burger-menu > img {
  width: 25px;
  height: 20px;
}

.navbar-title {
  margin: 0;
}

.top-effect {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 82px;
  z-index: 9;
  filter: blur(30px);
  background-color: #fff;
}
