.mobile-nav-fixed,
.desktop-navigation {
  position: fixed;
  z-index: 99;
  top: 20px;
  left: 10px;
  right: 10px;
  border-radius: 20px;
  background-color: rgb(255 255 255);
  box-shadow: -2px 1px 20px 0 rgb(0 0 0 / 75%);
}

ul {
  list-style-type: none;
  align-items: center;
  padding-inline-start: 0;
}

.mobile-nav-fixed > ul {
  width: 100%;
  justify-content: space-between;
}

.burger-menu {
  cursor: pointer;
  padding: 0;
  background-color: inherit;
  border: none;
  margin-left: 100%;
}

.burger-menu > img {
  width: 25px;
  height: 20px;
}

.navbar-title {
  margin: 0;
}

.top-effect {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 82px;
  z-index: 9;
  filter: blur(30px);
  background-color: #fff;
}

@media (min-width: 885px) {
  .desktop-navigation {
    top: 0;
    border-radius: 0;
    left: 0;
    right: 0;
    background: #1b2e50;
    color: white;
    display: flex;
    justify-content: space-between;
  }

  .desktop-navigation > h2 {
    margin-left: 3%;
  }

  .desk-nav-list {
    margin-right: 5%;
    justify-content: flex-end;
  }

  .desk-nav-list > li {
    margin: 0 20px;
  }
}
